*{
    margin: 0;
    padding: 0;
  }
  /* body {
      background-image: url("Home_page_without_gradient_image3_web.webp.jpg");
      background-size: cover;   
  
  } */
  body{
  overflow-x: hidden;
  background-color: rgb(202, 200, 200)
  }
  
  
  .logo-image{
      position: absolute;
      top: 0px;
      left: 80px;
      float: left;
      margin: 0;
      width: 95px;
      height: 75px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: -6px;
  }
  .topnav {
      background-color: #2a2a2a;
      display: flex;
      top: 0px;
      justify-content: space-around;
      padding: 15px;
      position: fixed;
      width: 100%;
  }
  
  
  .nitro{
      color: #f2f2f2;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 18px; 
      font-family: 'Futura',sans-serif;
  }
  .gen{
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 18px; 
    font-family: 'Futura',sans-serif;
}
  .ordernow{
      color: #59d24c;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 18px;
      font-family: 'Futura',sans-serif;  
  }
  
  .home{
      color: #f2f2f2;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 18px; 
      font-family: 'Futura',sans-serif;
  }
  .contact{
      color: #f2f2f2;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 18px; 
      font-family: 'Futura',sans-serif;
  }
  .about{
      color: #f2f2f2;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 18px; 
      font-family: 'Futura',sans-serif;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav a.active {
    color: rgb(24, 221, 21);
  }
  .heading1{
    color:rgb(25, 25, 25);
    position: absolute; 
    top:140px;
    left: 420px;
    font-size:30px;
    font-family: 'papyrus',fantasy;
    font-weight:2000px;
  }
  .log-container {
    width: 485px;
    height: 430px;
    
    margin: 250px 450px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.683);
  }
  
  .log-container h3 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: white;
  }
  
  #name2,#phone2,#email2,#city2,#state2{
   align-items: center;
    width: 250px;
    padding: 10px ;
    border-radius: 5px;
    margin: 10px 15px;
    margin-left: 100px;
  }
  
   #submit-btn2 {
    width: 175px;
    padding: 10px;
    margin: 5px 60px;
    border: none;
    background-color: #15aedc;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    margin-left: 130px;
  }

